* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.hero {
  width: 100%;
  height: 100vh;

  .background {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  header {
    padding: 4% 10%; 
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between; 
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .slice {
    margin: 7% auto 0;
    width: 80%;
    display: block;
    z-index: 10;
    position: relative;
  }

  .scroll {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
  }

  .mouse {
    width: 18px;
    height: 28px;
    margin: auto;
  }

  p {
    color: #ffffff;
    font-size: 12px;
    line-height: 48px;
    text-align: center;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(18,18,18,0.40689779329700626) 34%, rgba(0,6,8,0) 56%);
  }
}

.hero,
footer {
  ul {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
  }

  li:first-of-type a {
    color:  #18f7ef;

    &:hover {
      color:  white;
    }
  }

  li:hover a {
    color:  #18f7ef;
  }

  a {
    padding: 0 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
  }
}

.second {
  width: 100%;
  height: 100vh;
  display: flex;

  .narrow {
    width: 34%;
    background-color: #18f7ef;

    h2 {
      margin: 70px 70px 0;
      text-align: left;
      color: #ffffff;
      font-size: 62px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 65px;

      span {
        color: #3624ea;
      }
    }

    p {
      color: #3624ea;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      margin: 40px 90px 20px 70px;
      line-height: 28px;
    }

    button {
      margin: 40px 70px;
      color: #3624ea;
    }
  }

  .wide {
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 50%;
      height: 50%;
    }

    .widephoto {
      width: 100%;
    }
  }
}

.third {
  width: 100%;
  height: 50vh;
  display: flex;
  position: relative;

  .narrow-white {
    background-color: #ffffff;
    width: 34%;
  }

  .wide-blue {
    background-color: #3624ea;
    width: 66%;

    h2 {
      margin: 7% 15% 0;
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      letter-spacing: 0;
      width: 80%;
      height: 10vh;
      text-align: left;
      line-height: 70px;
    }

    p {
      margin: 0 15%;
      width: 70%;
      height: 10%;
      color: #ffffff;
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }

    button {
      margin: 6% 0 0 15%;
    }
  }

  .photographer {
    position: absolute;
    bottom: 0;
    margin-left: 15%;
    width: 50vh;
    height: 40vh;
  }
}

.bottom {
  background-image: url("../images/background-bottom.jpg");
  height: 150vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  .split {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    padding: 70px 70px;

    h2 {
      width: 600px;
      height: 400px;
      color: #ffffff;
      font-size: 40px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 67px;
      text-align: left;
      padding: 10px 70px;
    }

    p:first-of-type {
      width: 700px;
      height: 190px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 37px;
      text-align: left;
      padding: 20px;
    }
  }

  .logo {
    width: 70px;
    height: 70px;
    margin: 8% auto 2%;
    display: block;
  }

  footer {
    padding: 4% 10%; 
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between; 
  }

  p:last-of-type {
    width: 300px;
    height: 50px;
    color: white;
    font-size: 11px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
    display: block;
  }

  footer {
    display: block;
    margin: 0;

    ul {  
      justify-content: center;
      margin: 3% auto;
    }
  }      
}

button {
  padding: 14px;
  border: 3px solid #ffffff;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 600;
}