* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  // border: 1px solid red;
}

.hero {
  width: 100%;
  height: 100vh;

  .background {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  header {
    padding: 4% 10%; 
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between; 
  }

  ul {
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
  }

  li:first-of-type a {
    color:  #18f7ef;

    &:hover {
      color:  white;
    }
  }

  li:hover a {
    color:  #18f7ef;
  }

  a {
    padding: 0 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    text-decoration: none;
      }

  .logo {
    width: 70px;
    height: 70px;
  }

  .slice {
    margin: 7% auto 0;
    width: 80%;
    display: block;
    z-index: 10;
    position: relative;
  }

  .scroll {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    bottom: 4%;
    right: 0;
    left: 0;
  }

  .mouse {
    width: 18px;
    height: 28px;
    margin: auto;
  }

  p {
    color: #ffffff;
    font-size: 12px;
    line-height: 48px;
    text-align: center;
  }

  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(18,18,18,0.40689779329700626) 34%, rgba(0,6,8,0) 56%);
  }
}

.second {
  width: 100%;
  height: 100vh;
  display: flex;

  .narrow {
    width: 33%;
    background-color: #18f7ef;

    h2 {
      margin: 50px 70px 0;
      text-align: left;
      color: #ffffff;
      font-size: 62px;
      font-weight: 700;
      letter-spacing: 0;

      span {
      color: #3624ea;
      }
    }

    p {
      color: #3624ea;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      margin: 20px 90px 20px 70px;
      line-height: 28px;
    }

    button {
      width: 210px;
      height: 60px;
      border: 3px solid #ffffff;
      background-color: transparent;
      margin: 40px 70px;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 48px;
      text-align: center;
      text-transform: uppercase;
      color: #3624ea;
    }
  }

  .wide {
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
      width: 50%;
      height: 50%;
    }
    .widephoto {
      width: 100%;
    }
  }
}
